@font-face
{
   font-family: "HelveticaNeueCyr-UltraLight";
   font-display: swap;
   src: url('helveticaneuecyr-ultralight.woff2') format('woff2'),
        url('helveticaneuecyr-ultralight.woff') format('woff'),
        url('helveticaneuecyr-ultralight.ttf') format('truetype'),
        url('helveticaneuecyr-ultralight.svg#HelveticaNeueCyr-UltraLight') format('svg'),
        url('helveticaneuecyr-ultralight.eot') format('embedded-opentype');
}
a.Grey
{
   color: #000000;
   text-decoration: none;
}
a.Grey:visited
{
   color: #000000;
   text-decoration: none;
}
a.Grey:active
{
   color: #000000;
   text-decoration: none;
}
a.Grey:hover
{
   color: #808080;
   text-decoration: none;
}
.Prospect_Head
{
   font-family: "HelveticaNeueCyr Light";
   font-size: 24px;
   letter-spacing: 3px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Foot
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Head
{
   font-family: "HelveticaNeueCyr UltraLight";
   font-size: 75px;
   letter-spacing: 8px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Body
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
@media only screen and (max-width: 768px)
{
.Prospect_Head
{
   font-family: "HelveticaNeueCyr Light";
   font-size: 19px;
   letter-spacing: 3px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Foot
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Head
{
   font-family: "HelveticaNeueCyr UltraLight";
   font-size: 53px;
   letter-spacing: 8px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Body
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
}
@media only screen and (max-width: 480px)
{
.Prospect_Head
{
   font-family: "HelveticaNeueCyr Light";
   font-size: 13px;
   letter-spacing: 3px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Foot
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 13px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Head
{
   font-family: "HelveticaNeueCyr UltraLight";
   font-size: 27px;
   letter-spacing: 8px;
   text-decoration: none;
   background-color: transparent;
}
.Prospect_Text_Body
{
   font-family: "HelveticaNeueCyr Thin";
   font-size: 13px;
   letter-spacing: 1px;
   text-decoration: none;
   background-color: transparent;
}
}
