body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #000000;
   text-decoration: none;
}
a:hover
{
   color: #808080;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 200px 15px 150px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 650px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid3 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_RollOver1
{
   display: block;
   width: 100%;
}
#RollOver1
{
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
   max-width: 2560px;
   margin-left: auto !important;
   margin-right: auto !important;
   right: 0;
   text-align: center;
   margin: 0 auto 0 auto;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   height: 100%;
   width: 100%;
   z-index: 2;
   transition: all 150ms linear;
}
#RollOver1 .hover
{
   opacity: 0;
   transition: all 150ms linear;
}
#RollOver1:hover .hover
{
   opacity: 1;
}
#RollOver1:hover span
{
   opacity: 0;
}
#RollOver1 img
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: auto;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_RollOver2
{
   display: block;
   width: 100%;
}
#RollOver2
{
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
   max-width: 2560px;
   margin-left: auto !important;
   margin-right: auto !important;
   right: 0;
   text-align: center;
   margin: 0 auto 0 auto;
}
#RollOver2 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver2 a img
{
   z-index: 1;
   border-width: 0;
}
#RollOver2 span
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   height: 100%;
   width: 100%;
   z-index: 2;
   transition: all 150ms linear;
}
#RollOver2 .hover
{
   opacity: 0;
   transition: all 150ms linear;
}
#RollOver2:hover .hover
{
   opacity: 1;
}
#RollOver2:hover span
{
   opacity: 0;
}
#RollOver2 img
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: auto;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_FlexContainer3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer3
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.94);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_FlexContainer1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#FlexContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 600px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 21px;
   height: 59px;
   vertical-align: top;
}
#Image1:hover
{
   transform: rotate(0deg) scale(1.1,1.1) ;
   transition: transform 300ms linear 0ms;
}
#RollOver1
{
   overflow: hidden;
   z-index: 1;
}
#wb_Image1
{
   display: inline-block;
   width: 21px;
   height: 59px;
   z-index: 6;
}
#wb_RollOver2
{
   display: block;
   width: 100%;
   z-index: 2;
}
#wb_RollOver1
{
   display: block;
   width: 100%;
   z-index: 1;
}
#wb_Image2
{
   display: block;
   width: 100%;
   height: auto;
   z-index: 0;
}
#RollOver2
{
   overflow: hidden;
   z-index: 2;
}
@media only screen and (max-width: 768px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 200px 15px 150px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#Image2
{
   margin-left: auto;
   margin-right: auto;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 10px 0 10px 0;
}
#LayoutGrid3 > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid3 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#wb_RollOver1
{
   visibility: visible;
   display: block;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 10px 0 10px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#wb_RollOver2
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   width: 249px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   margin: 0;
   padding: 10px 0 10px 0;
}
#wb_Text8
{
   width: 249px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
   box-shadow: 0px 0px 0px #000000;
}
#wb_Text8
{
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Text9
{
   width: 303px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text9
{
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#FlexContainer3
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 10px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_FlexContainer1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#FlexContainer1
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Text1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text1
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text2
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text3
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Image1
{
   width: 21px;
   height: 59px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 21px;
   height: 59px;
}
}
@media only screen and (max-width: 480px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 140px 15px 20px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#Image2
{
   margin-left: auto;
   margin-right: auto;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 10px 0 10px 0;
}
#LayoutGrid3 > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid3 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_RollOver1
{
   visibility: visible;
   display: block;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 10px 0 10px 0;
}
#LayoutGrid4 > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid4 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_RollOver2
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   width: 199px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   margin: 0;
   padding: 7px 0 7px 0;
}
#wb_Text8
{
   width: 197px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
   box-shadow: 0px 0px 0px #000000;
}
#wb_Text8
{
   margin: 0;
   padding: 0 0 7px 0;
}
#wb_Text9
{
   width: 262px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text9
{
   margin: 0;
   padding: 0 0 7px 0;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#FlexContainer3
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 10px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_FlexContainer1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#FlexContainer1
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Text1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text1
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text2
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text3
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Image1
{
   width: 21px;
   height: 59px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 21px;
   height: 59px;
}
}
