body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #000000;
   text-decoration: none;
}
a:hover
{
   color: #808080;
   text-decoration: none;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   max-width: calc(25% - 30px);
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6:hover #Card6-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#wb_Card7
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   max-width: calc(25% - 30px);
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card7-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card7:hover #Card7-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#FlexContainer2
{
   display: flex;
   width: 100%;
   position: relative;
   height: 100px;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#CardContainer2
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_FlexContainer3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer3
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.94);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_FlexContainer1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#FlexContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 600px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3
{
   color: #000000;
   font-family: "HelveticaNeueCyr Light";
   font-weight: normal;
   font-size: 24px;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 21px;
   height: 59px;
   vertical-align: top;
}
#Image1:hover
{
   transform: rotate(0deg) scale(1.1,1.1) ;
   transition: transform 300ms linear 0ms;
}
#wb_Card6
{
   display: flex;
   z-index: 0;
}
#wb_Image1
{
   display: inline-block;
   width: 21px;
   height: 59px;
   z-index: 5;
}
#wb_Card7
{
   display: flex;
   z-index: 1;
}
@media only screen and (max-width: 768px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Card6
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 8px 8px 8px 8px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6:hover #Card6-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#wb_Card6
{
   text-align: center;
}
#wb_Card6
{
   max-width: calc(50% - 16px);
}
#wb_Card7
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 8px 8px 8px 8px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
}
#Card7-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card7:hover #Card7-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#wb_Card7
{
   text-align: center;
}
#wb_Card7
{
   max-width: calc(50% - 16px);
}
#FlexContainer2
{
   visibility: visible;
   display: flex;
}
#FlexContainer2
{
   height: 130px;
   margin: 0;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#CardContainer2
{
   visibility: visible;
   display: flex;
}
#CardContainer2
{
   padding: 100px 10px 10px 10px;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#FlexContainer3
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_Text7
{
   width: 249px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   margin: 0;
   padding: 10px 0 10px 0;
}
#wb_Text8
{
   width: 249px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
   box-shadow: 0px 0px 0px #000000;
}
#wb_Text8
{
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_Text9
{
   width: 303px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text9
{
   margin: 0;
   padding: 0 0 10px 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 10px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_FlexContainer1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#FlexContainer1
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Text1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text1
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text2
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text3
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Image1
{
   width: 21px;
   height: 59px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 21px;
   height: 59px;
}
}
@media only screen and (max-width: 480px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Card6
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 4px 4px 4px 4px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6:hover #Card6-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#wb_Card6
{
   text-align: center;
}
#wb_Card6
{
   max-width: calc(50% - 8px);
}
#wb_Card7
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 4px 4px 4px 4px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50%;
   align-self: auto;
}
#Card7-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card7:hover #Card7-card-item0
{
   transform: rotate(0deg) scale(1.03,1.03) ;
   box-shadow: 0 20px 40px rgba(0,0,0,0.3);
   transition: transform 300ms linear 0ms, box-shadow 300ms linear 0ms;
}
#wb_Card7
{
   text-align: center;
}
#wb_Card7
{
   max-width: calc(50% - 8px);
}
#FlexContainer2
{
   visibility: visible;
   display: flex;
}
#FlexContainer2
{
   height: 130px;
   margin: 0;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#CardContainer2
{
   visibility: visible;
   display: flex;
}
#CardContainer2
{
   padding: 10px 10px 10px 10px;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#FlexContainer3
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_Text7
{
   width: 199px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   margin: 0;
   padding: 7px 0 7px 0;
}
#wb_Text8
{
   width: 197px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
   box-shadow: 0px 0px 0px #000000;
}
#wb_Text8
{
   margin: 0;
   padding: 0 0 7px 0;
}
#wb_Text9
{
   width: 262px;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text9
{
   margin: 0;
   padding: 0 0 7px 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 10px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#wb_FlexContainer1
{
   width: 100%;
   visibility: visible;
   display: block;
}
#FlexContainer1
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Text1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text1
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text2
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text3
{
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Image1
{
   width: 21px;
   height: 59px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 21px;
   height: 59px;
}
}
