body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #000000;
   text-decoration: none;
}
a:hover
{
   color: #808080;
   text-decoration: none;
}
#CardContainer1
{
   display: flex;
   position: relative;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#CardContainer1 .grid-item
{
   width: calc((100% - 62px) / 4);
}
#CardContainer1 .grid-sizer
{
   width: calc((100% - 62px) / 4);
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card4-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card5-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 25%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   text-align: center;
}
#Card6-card-body
{
   padding: 0 0 20px 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6
{
   display: flex;
   z-index: 3;
}
#wb_Card1
{
   display: flex;
   z-index: 0;
}
#wb_Card3
{
   display: flex;
   z-index: 1;
}
#wb_Card2
{
   display: flex;
   z-index: 4;
}
#wb_Card5
{
   display: flex;
   z-index: 2;
}
#wb_Card4
{
   display: flex;
   z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#CardContainer1
{
   visibility: visible;
   display: flex;
}
#CardContainer1 .grid-item
{
   width: calc((100% - 42px) / 3);
}
#CardContainer1 .grid-sizer
{
   width: calc((100% - 42px) / 3);
}
#wb_Card1
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#wb_Card3
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#wb_Card5
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#wb_Card6
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#wb_Card2
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#wb_Card4
{
   width: calc(1 * ((100% - 42px) / 3) + 0px) !important;
}
#CardContainer1
{
   padding: 10px 10px 10px 10px;
}
#wb_Card1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card1
{
   text-align: center;
}
#wb_Card2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card2
{
   text-align: center;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card3
{
   text-align: center;
}
#wb_Card4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card4
{
   text-align: center;
}
#wb_Card5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card5
{
   text-align: center;
}
#wb_Card6
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6
{
   text-align: center;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#CardContainer1
{
   visibility: visible;
   display: flex;
}
#CardContainer1 .grid-item
{
   width: calc((100% - 22px) / 2);
}
#CardContainer1 .grid-sizer
{
   width: calc((100% - 22px) / 2);
}
#wb_Card1
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#wb_Card3
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#wb_Card5
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#wb_Card6
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#wb_Card2
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#wb_Card4
{
   width: calc(1 * ((100% - 22px) / 2) + 0px) !important;
}
#CardContainer1
{
   padding: 10px 10px 10px 10px;
}
#wb_Card1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card1
{
   text-align: center;
}
#wb_Card2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card2
{
   text-align: center;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card3
{
   text-align: center;
}
#wb_Card4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card4
{
   text-align: center;
}
#wb_Card5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card5
{
   text-align: center;
}
#wb_Card6
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   margin: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
}
#Card6-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6
{
   text-align: center;
}
}
